<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fundit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Fundit"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AccountTypeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".OrganizationAccountActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FundraiserSettings"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FundSpotProfile"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".GeneralMemberProfileActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".OrganizationProfileActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".VerificationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PlaceOrderActivity"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name=".services.FirebaseIIDService"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.FirebaseMsgService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".fundspot.AddProductActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".organization.CreateCampaignActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".organization.FundspotListActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".organization.FundspotProductListActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".organization.CreateCampaignNextActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CreateCampaignTermsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CreateCampaignTermsNextActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ChangePasswordActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".NotificationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CampaignSetting"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fundspot.FundspotCampaignActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fundspot.FundspotCampaignNextActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fundspot.OrganizationListActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".OrderPlaceActivity" />
        <activity android:name=".AddMemberToCampaign" />
        <activity
            android:name=".FinalOrderPlace"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".OrderHistoryDetail" />
        <activity android:name=".FullZoomViewActivity" />
        <activity android:name=".QRScannerActivity" />
        <activity android:name=".QRResultActivity" />
        <activity android:name=".MyCardDetailsActivity" />
        <activity android:name=".CardPaymentActivity" />
        <activity android:name=".ReadMessageActivity" />
        <activity android:name=".SendMessageActivity" />
        <activity android:name=".FinalSendMessage"></activity>
    </application>

</manifest>